/*body { padding-top: 70px; }*/

footer {
    padding: 2em 0;
    margin: 3em 0;
    border-top: 1px solid #ddd;
    color: #999;
    text-align: center;
}

.nice-font {
    font-style: italic;
    font-weight: bold;
    font-family: Georgia,serif;
}

p.nice-font{
    color: yellow;
}
h1.nice-font a{
    color: #ffffff;
    text-decoration: none;
}

/*коррекція*/
.head-descr{margin-right: 0 !important;}

/*#last-articles.bs-example:after {*/
    /*position: absolute;*/
    /*top: 15px;*/
    /*left: 15px;*/
    /*font-size: 12px;*/
    /*font-weight: 700;*/
    /*color: #959595;*/
    /*text-transform: uppercase;*/
    /*letter-spacing: 1px;*/
    /*content: "Останні статті" !important;*/
/*}*/